
html, body{
    color: rgb(188, 206, 206);
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 100%;
    width: 50%;
    background-color: rgba(250, 235, 215, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}